$blade-width: 20;
$background-color: rgba(151, 151, 151, 0.47);
@mixin h-100 {
    height: 100%;
}
.sidebar {
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    max-width: 70vw;
    background-color: $background-color;
    @include h-100();
}
.blade {
    border: 1px solid lightgray;
    @include h-100();
    width: #{$blade-width}vw;
}
.close-btn {
    position: absolute;
    z-index: 1;
    margin-left: #{$blade-width - 2}vw;
}
