@import '../blades/base/blade.scss';
@import '../../styles.scss';
.content {
    max-height: 90%;
    height: 90%;
}

.header-wrapper {
    padding: 0.75rem;
    max-height: 10%;
}

.search-box-row {
    padding-left: 0;
    padding-right: 0;
}

.check-box-row {
    padding-left: 0;
    margin-left: 15px;
}

:host /deep/ {
    .tab-content, .tab-pane {
        height: 100%;
    }
    .nav-link {
        white-space: nowrap;
    }
}
